body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.field { position:relative; width: 160px; text-align:left; }
.field label { position:relative; text-transform:uppercase; font-weight:bold; font-size:9px; }
.field input { position: relative; }